body{
    background-color: #333333;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 250px;
    border-radius: 15px;
}

#screen{
    background-color: white;
    background-image: url("screenSaver2.jpg");
    background-size: cover;
    height: 480px;
    width: 240px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

#topscreen{
    background-color: grey;
    height:10px;
    width: 80px;
    border-radius: 3px;
}
    

