body{
    background-color: lightblue;
    margin: 0px;
}

#subContainer{
    display:flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    
}

#nav{
    background-color: lightgrey;
}

#nav ul{
    overflow: hidden;    
}
#nav a{
    color: black;
  
}
#nav a:hover{
    background-color: grey;

}

#nametag{
    font-size: xx-large;
    margin-bottom: -50px;
    padding-bottom: 0px;
}

#contacts ul{

    display: flex;
    flex-direction: row;
   
    margin:0px;
    padding: 0px;

}

#contacts a{
    padding: 1em;
}

a{
  text-decoration: none;
 }
 ul{
    list-style-type: none;
    margin:0px;
    padding:0px;
 }


    

