

body{
    font-family: sans-serif;
    background-image: url(newBackground.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
}

.header{
    /*background-color:blanchedalmond;*/
    background-color: white;
    width: 50%; 
    padding: 5px;
    margin: auto;
    text-align: center;
    border-radius: 25px;
    box-shadow: 10px 10px lightgreen;

}



